@model MeuHelp.Models.Legalperson

@{
    ViewData["Title"] = "Detalhar pessoa jurídica";
}
<h2 class="display-4">Detalhar pessoa jurídica</h2>
<div>
    <h4>Pessoa jurídica</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Data de nascimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt>
            Data de vencimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt>
            Valor do contrato
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorContrato)
        </dd>
        <dt>
            Inicio de vigencia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InicioVigencia)
        </dd>
        <dt>
            Fim da vigencia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FimVigencia)
        </dd>
        <dt>
            Tipo de serviço
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Typeservice.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-sm btn-secondary">Voltar</a>
</div>
